@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/logo.png" alt="Company Logo" class="img-fluid" style="max-width: 50%; height: auto;" />
    <h1 class="display-4">Welcome to NJ Repair Tool</h1>
    <p>Learn about <a href="https://njtoolrepair.com/">NJ</a>.</p>
</div>
